# Choose your sampling technique
## Discussion: Top 3 techniques across configurations

In [21]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv("results.csv")

### Interactive widgets

In [23]:
def select_budget(task,dataset,aux,budget):
        df_temp = df.loc[df["budget"] <= budget]
        if(task!=""):
                df_temp = df.loc[df["task"] == task]
        if(dataset!=""):
                df_temp = df_temp.loc[df["dataset"] == dataset]
        if(aux!=""):
                df_temp = df_temp.loc[df["aux"] == aux]
        display(pd.DataFrame((df_temp["RMSE_top1"].append(df_temp["RMSE_top2"]).append(df_temp["RMSE_top3"])).value_counts(),columns=["RMSE"]))
        display(pd.DataFrame((df_temp["RMedSE_top1"].append(df_temp["RMedSE_top2"]).append(df_temp["RMedSE_top3"])).value_counts(),columns=["RMedSE"]))
        display(pd.DataFrame((df_temp["failures_top1"].append(df_temp["failures_top2"]).append(df_temp["failures_top3"])).value_counts(),columns=["Failures"]))

interact(select_budget,task=["","Classification","Regression"],aux=["","confidence","lsa","dsa","SAE","VAE"],budget=800,dataset=["","MNIST","CIFAR10","CIFAR100","Udacity"])

interactive(children=(Dropdown(description='task', options=('', 'Classification', 'Regression'), value=''), Drâ€¦

### Example of usage

In [24]:
select_budget("Classification","","",800)

         RMSE
GBS        95
SSRS       88
SUPS       64
RHC-S      58
SRS        57
CES        36
2-UPS       5
DeepEST     2

         RMedSE
SSRS         86
GBS          79
SRS          67
SUPS         58
RHC-S        51
CES          51
2-UPS        10
DeepEST       3

         Failures
DeepEST       106
SUPS           94
RHC-S          91
2-UPS          85
SSRS           15
GBS            12
SRS             2